html {
  --canvas-size: 700px;

  --shoulder-height: 50%;
  --shoulder-width: 66%;

  --face-height: 50%;
  --face-width: 50%;

  --nose-height: 15%;
  --nose-width: 18%;

  --eyes-height: 25%;

  --iris-height: 70%;
  --iris-width: 50%;

  --mouth-height: 13%;
  --mouth-width: 25%;
}
body {
    margin: 0;
    top: 0;
    height: var(--canvas-size);
}
#app {
  display: flex;
  height: 100%;
}
.canvas {
  position: relative;
  height: var(--canvas-size);
  width: var(--canvas-size);
  background-color: cornsilk;
  margin: 0 auto;
}

#form {
}
#body {
}

#shoulder {
  position: absolute;
  bottom: 0;
  left: calc(var(--canvas-size) / 2 - var(--shoulder-width) / 2);

  width: var(--shoulder-width);

}

#neck {
}

#face {
  position: absolute;
  bottom: 26%;
  left: calc(var(--canvas-size) / 2 - var(--face-width) / 2);
  height: var(--face-height);
  width: var(--face-width);
}

#face svg {
  position: absolute;
  height: 100%;
  width: 100%;
}

#face .container {
  position: relative;
  height: 100%;
  width: 100%;
}

#eyes {
  position: absolute;
  width: 100%;
  height: var(--eyes-height);
  left: 0;
  bottom: 34%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 5%;
}

#eyes .left,
#eyes .right {
  position: relative;
  height: 100%;
  width: 40%;
  overflow: hidden;
}

#eyes .iris {
  position: absolute;
  margin: 0 auto;
  height: var(--iris-height);
  width: var(--iris-width);

  left: calc(50% - 33% / 2);
  filter: blur(4px);
  /* bottom: calc( 50% - 70% / 2); */
  /* transition: all 0.2s; */
}

#eyes > *:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 2.5px);
  left: calc(70% - 2.5px);
  height: 5px;
  width: 8px;
  background-color: #fff;
  border-radius: 100%;
}

#eyes .iris:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  height: 18px;
  width: 12px;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
}

#nose {
  position: absolute;
  left: calc(50% - var(--nose-width) / 2);
  margin: 0 auto;
  bottom: 23%;
  width: var(--nose-width);
  height: var(--nose-height);
}
#lips {
  position: absolute;
  left: calc(50% - var(--mouth-width) / 2);
  margin: 0 auto;
  bottom: 10%;
  width: var(--mouth-width);
  height: var(--mouth-height);
  font-size: 50px;
}

#face .under-mouth {
  bottom: -32%;
  left: 2%;
  transform: scale(0.6);
}

/* FORM  */
#form {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}
.eye-color-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

.eye-color-list > * {
  height: 50px;
  width: 50px;
  border-radius: 6px;
  cursor: pointer;
}

.eye-color-list > *:hover {
  transform: scale(1.2);
}

#form img {
  width: 300px;
  height: 300px;
}

#form h3 {
  cursor: pointer;
}

@media only screen and (max-width: 1050px) {
  #app {
    display: block;
  }
}
